SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/your_db_name
SPRING_DATASOURCE_USERNAME=your_username
SPRING_DATASOURCE_PASSWORD=your_pw

JWT_SECRET_KEY=xxx
FINNHUB_API_KEY=get_your_api_key_from_https://finnhub.io/register